<div class="bg-gray-100 py-10 px-8 mx-auto text-center md:text-left">
    <div class="md:px-20 mx-auto grid grid-cols-1 md:grid-cols-5 gap-8">
        <div class="lg:col-span-2">
            <h1 class="text-teal-600 text-3xl font-bold mb-4">Logo</h1>
            <p class="text-gray-700 mb-2"><strong>Location:</strong> Isr Street gilrt awam juim</p>
            <p class="text-gray-700 mb-2"><strong>Contact:</strong> +9 5555559909</p>
            <p class="text-gray-700 mb-2"><strong>Time:</strong> (9am - 5pm EST, Monday - Friday)</p>
            <p class="text-gray-700 mb-2"><strong>Email:</strong> youmeRule.com</p>

        </div>
        <div class="col-span-1">
            <h2 class="text-2xl font-semibold mb-4">Company</h2>
            <ul>
                <li class="text-gray-700 mb-2">Case Studies</li>
                <li class="text-gray-700 mb-2">Case Details</li>
                <li class="text-gray-700 mb-2">Privacy Policy</li>
                <li class="text-gray-700 mb-2">Services</li>
            </ul>
        </div>
        <div class="col-span-1">
            <h2 class="text-2xl font-semibold mb-4">Explore</h2>
            <ul>
                <li class="text-gray-700 mb-2">About Us</li>
                <li class="text-gray-700 mb-2">Blog And News</li>
                <li class="text-gray-700 mb-2">Blog Details</li>
                <li class="text-gray-700 mb-2">Pricing</li>
            </ul>
        </div>
        <div class="col-span-1">
            <h2 class="text-2xl font-semibold mb-4">Insurance</h2>
            <ul>
                <li class="text-gray-700 mb-2">Health Insurance</li>
                <li class="text-gray-700 mb-2">Car Insurance</li>
                <li class="text-gray-700 mb-2">Business Insurance</li>
                <li class="text-gray-700 mb-2">Life Insurance</li>
            </ul>
        </div>

    </div>
</div>