<div class="container w-3/4 text-center my-8 pt-5 mx-auto">
    <h4 class="text-teal-600 text-xs font-semibold my-4">READY TO GET STARTED</h4>
    <h2 class="text-center text-4xl font-bold mx-auto my-5">Get The Latest Insurance News In Minutes</h2>
    <p class="w-4/5 text-gray-600 my-4 mx-auto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam voluptatum dolore provident, exercitationem similique veniam deleniti autem recusandae cum? Necessitatibus deserunt consequatur minus quisquam!</p>
    <div class="my-3">
        <input type="email" name="" id="" placeholder="Email address" class="my-5 px-5 py-1 border border-gray-200 bg-gray-200 text-s focus:border-teal-500 focus:bg-white shadow-md">
        <button class="py-1 px-5 border-teal-500 bg-teal-600 rounded text-white font-semibold hover:bg-teal-500">Subscribe</button>
    </div>

</div>