<div class="w-5/6 m-auto flex flex-col lg:flex-row items-center bg=gray-50 p-8 lg:p-16">
    <div class="lg:w-1/2 space-y-4">
        <h1 class="text-6xl font-bold text-gray-800 leading-tight">
            Take The Worry Out Of Life With <span class="text-teal-600">Insurance</span> Protection
    </h1>
    <p class="text-gray-600">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam veritatis et hic, explicabo ducimus natus, facilis rerum aspernatur consectetur beatae fuga porro aut perferendis. Error voluptas accusantium quo nam culpa!
    </p>
    <!--buttons-->
    <div class="flex space-x-4">
        <button class="bg-teal-600 text-white px-6 py-2 rounded-md hover:bg-teal-700">
            Get Started
        </button>
        <button class="border border-teal-600 text-teal-600 bg-white px-6 py-2 rounded-md hover:bg-teal-700">
            Contact Us
        </button>

    </div>

    </div>
    <div class="lg:w-1/2 mt-8 lg:mt-0 lg:pl-8 flex justify-center lg:justify-end z-10">
        <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2016/04/14/12/family.jpg"
         alt="Family with insurance protection" class="max-w-xl w-full h-auto rounded-lg lg:mr-4"  />
    </div>
</div>