<div class=" bg-gray-100  p-4 lg:px-32  flex flex-col-reverse lg:flex-row items-center  mx-auto my-5 items-stretch h-full gap-6 p-4">
    <div class="lg:w-1/2 space-y-4">
        <h4 class="text-teal-600 font-semibold text-xs">ABOUT INCEP</h4>
        <h1 class="text-3xl font-bold">Life Insurance That Creates Wealth For Everyone</h1>
        <div class="flex flex-col justify-center bg-white shadow-md my-6 py-4 px-1">
            <div class="flex justify-between gap-5">
                <div class=" p-4 rounded">
                    <img src="../../assets/incep.jpeg" alt="">
                </div>
                <div>
                    <h2 class="text-xl font-bold">Trusted By Thousands</h2>
                    <p class="text-gray-600">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. deleniti laborum est alias ullam unde
                        saepe corrupti consectetur, adipisci eos omnis.
                    </p>
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-center bg-white shadow-md my-6 py-4 px-1">
            <div class="flex  justify-between gap-5">
                <div class=" p-4 rounded">
                    <img src="../../assets/incep.jpeg" alt="">
                </div>
                <div>
                    <h2 class="text-xl font-bold">Trusted By Thousands</h2>
                    <p class="text-gray-600">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. deleniti laborum est alias ullam unde
                        saepe corrupti consectetur, adipisci eos omnis.
                    </p>
                </div>
            </div>
        </div>

        <div class="flex flex-col justify-center bg-white shadow-md my-6 py-4 px-1">
            <div class="flex justify-between gap-5">
                <div class=" p-4 rounded">
                    <img src="../../assets/incep.jpeg" alt="">
                </div>
                <div>
                    <h2 class="text-xl font-bold">Trusted By Thousands</h2>
                    <p class="text-gray-600">
                        Lorem ipsum dolor sitepturi architecto nihil deleniti laborum est alias ullam unde saepe
                        corrupti consectetur, placeat eum dolor dolores, adipisci eos omnis.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class=" md:w-1/2 mx-auto flex flex-row items-center justify-center gap-4 ">
        <div class="w-1/6 lg:w-1/2 flex flex-col items-center justify-center gap-4">
            <img src="../../assets/famofthree.jpeg" alt="fam" class="h-28 lg:h-80 rounded-lg shadow-md ">
            <img src="../../assets/car.jpeg" alt="car" class="h-28 lg:h-80 rounded-lg shadow-md">
        </div>
        <div class="w-1/4 sm:w-1/2 flex items-center justify-center">
            <img src="../../assets/famInHouse.jpeg" alt="house" class=" h-28 lg:h-80 rounded lg">

        </div>
    </div>
</div>